body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    font-size: 3rem;
}
h1{
    margin: 3rem 1rem 1rem 1rem;
    padding: 1rem;
    background-color: green;
    border-radius: 20px;
    text-align: center;
}
.filter{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.input{
    width: 50%;
}
.input input{
    width: 90%;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    border-radius: 4rem;
    border: 1px solid ;
    height: 2rem;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}
.option{
    /* width: auto; */
    min-width: 25%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: green;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centers{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.center{
    margin: 1rem;
    padding: 1rem;
    background-color: green;
}
tr{
    display: flex;
    justify-content: space-between;
}
th, td{
    text-align: center;
    margin: 0;
}
.childOfTr{
    width: 30%;
}
